body {
    background: #eee;
    margin: 0;
    padding: 0;
}

body,
div,
input,
button {
    font-family: consolas, monaco, menlo, courier, monospace;
    box-sizing: border-box;
    color: black;
}

button[disabled] {
    color: #777;
}

h1,
.divider,
.input,
.centerText {
    text-align: center
}

.divider {
    margin: 20px auto;
    width: 50%;
    max-width: 100%;
}

.input {
    padding: 10px 20px;
    border-radius: 6px;
    width: 100%;
    font-size: 24px;
}

button.input {
    width: 25%;
    margin: 0;
    margin-left: -10px;
    border-radius:0 6px 6px 0;
}

#input {
    width: 75%;
    border-radius: 6px 0 0 6px;
    background-color: #fff;
}

#input:focus {
    background-color: azure;
}

#input:focus,
button.input:focus {
    outline: 0;
}

#output {
    color: steelblue;
}

.well {
    display: inline-block;
    border-radius: 10px;
    box-shadow: 1px 1px 2px #777 inset;
    background: #ccc;
    font-size: 0.8rem;
    padding: 10px 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.green {
    color: darkgreen;
}

hr {
    border: 0;
    height: 1px;
    background: #eee;
    border-top: 1px solid #aaa;
    margin-top: 20px;
}

.list {
    text-align: left;
    margin-top: 0;
}

.list > li {
    font-size: 16px;
    margin: 10px 0;
    word-break: break-all;
}

mark {
    font-size: 14px;
    padding: 2px 5px;
    border-radius: 4px;
    background: white;
    color: darkgreen;
}

@media(max-width:640px) {
    .divider, .input, button.input, #input, .well {
        width: 100%;
        border-radius: 0;
    }
    .input {
        font-size: 16px;
        display: block;        
        margin-left: auto;
        margin-right: auto;
    }
    button.input {
        margin-top: 10px;
        margin-left: auto;
    }
}
